Repository keagan-ladds/flowly: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

.azure-pipelines/azure-pipelines-tools.yml:

trigger:
 branches:
    include:
    - main
    - r/*
 paths:
    include:
      - src/tools

pool:
  vmImage: ubuntu-latest

variables:
  isRelease: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/r/')]
  sourceVersion: $(Build.SourceVersion)
  buildRevision: $[counter(variables['Build.SourceVersion'], 0)]

stages:
  - stage: Prepare
    jobs:
    - job:
      pool: 
        vmImage: ubuntu-latest
      steps:
        - bash: |
            short_hash=`git rev-parse --short=8 HEAD`
            echo "##vso[build.updatebuildnumber]0.0.0.0-$short_hash.b$(buildRevision)"
          workingDirectory: $(Build.SourcesDirectory)
          displayName: Set Non-Release Build Number
          condition: eq(variables.isRelease, false)

  - stage: Build
    jobs:
    - job:
      displayName: Build
      pool: 
        vmImage: ubuntu-latest
      steps:
      - task: DotNetCoreCLI@2
        inputs:
            command: 'restore'
            projects: '**/tools/**/*.csproj'
            feedsToUse: 'select'
            
      - task: DotNetCoreCLI@2
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '**/tools/**/*.csproj'
          arguments: '-p:PublishSingleFile=true --self-contained true'
          zipAfterPublish: false
            
      - task: CopyFiles@2
        inputs:
          Contents: '**/win-x64/publish/*.exe'
          TargetFolder: '$(Build.ArtifactStagingDirectory)/win-x64'
          flattenFolders: true
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'tools'
          publishLocation: 'Container'

.azure-pipelines/azure-pipelines.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
 branches:
    include:
    - main
    - r/*
 paths:
    include:
      - src/libraries

pool:
  vmImage: ubuntu-latest

variables:
  isRelease: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/r/')]



stages:
  - stage: Build
    jobs:
    - job:
      displayName: Build
      pool: 
        vmImage: ubuntu-latest
    
      steps:
        
      - task: DotNetCoreCLI@2
        inputs:
          command: 'build'

      - task: DotNetCoreCLI@2
        inputs:
            command: 'restore'
            projects: '**/*.csproj'
            feedsToUse: 'select'
            
      - task: DotNetCoreCLI@2
        inputs:
            command: 'build'
            projects: '**/*.csproj'
            
      - task: DotNetCoreCLI@2
        inputs:
            command: 'pack'
            packagesToPack: '**/*.csproj'
            versioningScheme: 'byBuildNumber'
        
      - task: DotNetCoreCLI@2
        inputs:
          command: 'push'
          packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
          nuGetFeedType: 'internal'
          publishVstsFeed: 'f9a3ba6c-3ffc-42f5-9f8a-30e9c233099f'

Initial support for resolving runtime dependencies from NuGet packages
  src/libraries/Flowly.Core/src/Builders/RunnerBuilder.cs
  src/libraries/Flowly.Core/src/IRuntimeDependencyResolver.cs
  src/libraries/Flowly.Core/src/Providers/IExtensionProvider.cs
  src/libraries/Flowly.Core/src/Providers/IExtensionSource.cs
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.ExtensionSource.NuGet/src/Internal/NuGetExtensionResolver.cs
  src/libraries/Flowly.ExtensionSource.NuGet/src/NuGetExtensionProvider.cs
  src/libraries/Flowly.ExtensionSource.NuGet/src/NuGetExtensionSource.cs
  src/tools/Flowly.Cli/src/Extensions/RunnerBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Internal/RuntimeDependencyResolver.cs
  src/tools/Flowly.Cli/src/Program.cs
  src/tools/Flowly.Cli/src/Properties/launchSettings.json
  src/tools/Flowly.Cli/src/workflow-1.yaml
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines.yml
Due: none

Update azure-pipelines-tools.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-tools.yml
Due: none

Include compilation context for runtime dependency resolution
  src/tools/Flowly.Cli/src/Flowly.Cli.csproj
Due: .azure-pipelines/azure-pipelines-tools.yml

Handle null reference dependency context
  src/libraries/Flowly.ExtensionSource.NuGet/src/Internal/NuGetExtensionResolver.cs
Due: .azure-pipelines/azure-pipelines.yml

Support for arrays in workflow options
  src/libraries/Flowly.Core/src/Internal/TypeHelper.cs
  src/libraries/Flowly.ExtensionSource.NuGet/src/NuGetExtensionProvider.cs
  src/tools/Flowly.Cli/src/Program.cs
  src/tools/Flowly.Cli/src/Properties/launchSettings.json
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Code cleanup and renaming pipeline files
  .azure-pipelines/azure-pipelines-libraries-ci.yml
  .azure-pipelines/azure-pipelines-tools-ci.yml
  src/libraries/Flowly.Core/src/Internal/StepActivator.cs
  src/libraries/Flowly.Core/src/Internal/TypeExtensions.cs
  src/libraries/Flowly.Core/src/Internal/TypeMapper.cs
  src/libraries/Flowly.Core/src/Logging/ILogger.cs
Due: .azure-pipelines/azure-pipelines.yml

Update azure-pipelines-libraries-ci.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-libraries-ci.yml
Due: none

Test PR change
  src/libraries/Flowly.Core/src/Logging/ILogger.cs
Due: .azure-pipelines/azure-pipelines.yml

Set up CI with Azure Pipelines
  .azure-pipelines/azure-pipelines-libraries-release.yml
Due: none

Update azure-pipelines-libraries-release.yml for Azure Pipelines
  .azure-pipelines/azure-pipelines-libraries-release.yml
Due: none

Set up CI with Azure Pipelines
  .azure-pipelines/azure-pipelines-tools-release.yml
Due: none

Code cleanup and adding doc comments
  Flowly.sln
  azure-pipelines.yml
  src/libraries/Flowly.Core/src/IWorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowContext.cs
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowStep.cs
Due: .azure-pipelines/azure-pipelines.yml

Add NLog logger support
  src/libraries/Flowly.Core/src/Builders/RunnerBuilder.cs
  src/libraries/Flowly.Core/src/Builders/WorkflowBuilder.cs
  src/libraries/Flowly.Core/src/Logging/ILogger.cs
  src/libraries/Flowly.Core/src/Logging/Logger.cs
  src/libraries/Flowly.Core/src/Logging/NullLogger.cs
  src/libraries/Flowly.Core/src/Providers/ILoggerProvider.cs
  src/libraries/Flowly.Core/src/Providers/ILoggerSource.cs
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowStep.cs
  src/libraries/Flowly.Logging.NLog/Flowly.Logging.NLog.sln
  src/libraries/Flowly.Logging.NLog/src/Extensions/RunnerBuilderExtensions.cs
  src/libraries/Flowly.Logging.NLog/src/Flowly.Logging.NLog.csproj
  src/libraries/Flowly.Logging.NLog/src/Internal/NLogWrapper.cs
  src/libraries/Flowly.Logging.NLog/src/NLogProvider.cs
  src/libraries/Flowly.Logging.NLog/src/NLogSource.cs
  src/tools/Flowly.Cli/Flowly.Cli.sln
  src/tools/Flowly.Cli/src/Flowly.Cli.csproj
  src/tools/Flowly.Cli/src/Program.cs
  src/tools/Flowly.Cli/src/nlog.config
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Started adding unit test projects - Flowly.Core.UnitTests
  src/libraries/Flowly.Core/Flowly.Core.sln
  src/libraries/Flowly.Core/test/Class1.cs
  src/libraries/Flowly.Core/test/Flowly.Core.UnitTests.csproj
  src/tools/Flowly.Cli/src/Extensions/WorkflowBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Internal/RunnerOptions.cs
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Started adding improved workflow provider
  src/libraries/Flowly.Core/src/Exceptions/StepExecutionException.cs
  src/libraries/Flowly.Core/src/Internal/TypeExtensions.cs
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowStep.cs
  src/libraries/Flowly.WorkflowSource.Yaml/src/YamlStreamWorkflowProvider.cs
  src/tools/Flowly.Cli/src/Internal/RunnerOptions.cs
  src/tools/Flowly.Cli/src/Program.cs
  src/tools/Flowly.Cli/src/Providers/WorkflowProvider.cs
  src/tools/Flowly.Cli/src/nlog.config
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Code cleanup
  src/libraries/Flowly.Core/src/Definitions/WorkflowStepDefinition.cs
  src/libraries/Flowly.Core/src/IRuntimeDependencyResolver.cs
  src/libraries/Flowly.Core/src/Logging/Logger.cs
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowStep.cs
  src/libraries/Flowly.Core/src/WorkflowVariables.cs
  src/libraries/Flowly.ExtensionSource.NuGet/src/NuGetExtensionProvider.cs
Due: .azure-pipelines/azure-pipelines.yml

NuGet dependency resolution bugfix
  src/libraries/Flowly.ExtensionSource.NuGet/src/Internal/NuGetExtensionResolver.cs
  src/libraries/Flowly.ExtensionSource.NuGet/src/NuGetExtensionProvider.cs
Due: .azure-pipelines/azure-pipelines.yml

Support for finding workflows by name in Workflows folder, and improved execution logging
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowStep.cs
  src/libraries/Flowly.WorkflowSource.Yaml/src/YamlFileWorkflowSource.cs
  src/tools/Flowly.Cli/src/Extensions/RunnerBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Extensions/WorkflowBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Internal/RunnerOptions.cs
  src/tools/Flowly.Cli/src/Providers/WorkflowProvider.cs
  src/tools/Flowly.Cli/src/Providers/WorkflowSourceProvider.cs
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Restructure project for more consistent naming convention
  src/libraries/Flowly.Extensions.Json/Flowly.Extensions.Json.sln
  src/libraries/Flowly.Extensions.Json/src/Extensions/WorkflowBuilderExtensions.cs
  src/libraries/Flowly.Extensions.Json/src/Flowly.Extensions.Json.csproj
  src/libraries/Flowly.Extensions.Json/src/Internal/ExpandoObjectConverter.cs
  src/libraries/Flowly.Extensions.Json/src/Internal/JsonWorkflowParser.cs
  src/libraries/Flowly.Extensions.Json/src/JsonFileWorkflowProvider.cs
  src/libraries/Flowly.Extensions.Json/src/JsonFileWorkflowSource.cs
  src/libraries/Flowly.Extensions.NLog/Flowly.Extensions.NLog.sln
  src/libraries/Flowly.Extensions.NLog/src/Extensions/RunnerBuilderExtensions.cs
  src/libraries/Flowly.Extensions.NLog/src/Flowly.Extensions.NLog.csproj
  src/libraries/Flowly.Extensions.NLog/src/Internal/NLogWrapper.cs
  src/libraries/Flowly.Extensions.NLog/src/NLogProvider.cs
  src/libraries/Flowly.Extensions.NLog/src/NLogSource.cs
  src/libraries/Flowly.Extensions.NuGet/Flowly.ExtensionSource.NuGet.sln
  src/libraries/Flowly.Extensions.NuGet/src/Flowly.Extensions.NuGet.csproj
  src/libraries/Flowly.Extensions.NuGet/src/Internal/NuGetExtensionResolver.cs
  src/libraries/Flowly.Extensions.NuGet/src/NuGetExtensionProvider.cs
  src/libraries/Flowly.Extensions.NuGet/src/NuGetExtensionSource.cs
  src/libraries/Flowly.Extensions.Yaml/Flowly.WorkflowSource.Yaml.sln
  src/libraries/Flowly.Extensions.Yaml/src/Extensions/WorkflowBuilderExtensions.cs
  src/libraries/Flowly.Extensions.Yaml/src/Flowly.Extensions.Yaml.csproj
  src/libraries/Flowly.Extensions.Yaml/src/Internal/YamlWorkflowParser.cs
  src/libraries/Flowly.Extensions.Yaml/src/YamlFileWorkflowProvider.cs
  src/libraries/Flowly.Extensions.Yaml/src/YamlFileWorkflowSource.cs
  src/libraries/Flowly.Extensions.Yaml/src/YamlStreamWorkflowProvider.cs
  src/tools/Flowly.Cli/Flowly.Cli.sln
  src/tools/Flowly.Cli/src/Extensions/RunnerBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Extensions/WorkflowBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Flowly.Cli.csproj
  src/tools/Flowly.Cli/src/Program.cs
  src/tools/Flowly.Cli/src/Providers/WorkflowSourceProvider.cs
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

NLog config for more readable console logs
  src/tools/Flowly.Cli/src/nlog.config
Due: .azure-pipelines/azure-pipelines-tools.yml

Switch to System.CommandLine
  src/libraries/Flowly.Core/src/Definitions/ExtensionDefinition.cs
  src/tools/Flowly.Cli/src/Extensions/RunnerBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Extensions/WorkflowBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Flowly.Cli.csproj
  src/tools/Flowly.Cli/src/Handlers/CommandHandler.cs
  src/tools/Flowly.Cli/src/Handlers/WorkflowRunCmdHandler.cs
  src/tools/Flowly.Cli/src/Internal/RunnerOptions.cs
  src/tools/Flowly.Cli/src/Options/WorkflowRunCmdOptions.cs
  src/tools/Flowly.Cli/src/Program.cs
  src/tools/Flowly.Cli/src/workflow-1.json
  src/tools/Flowly.Cli/src/workflow-1.yaml
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml

Code cleanup and workflow name/file validation
  src/tools/Flowly.Cli/src/Extensions/RunnerBuilderExtensions.cs
  src/tools/Flowly.Cli/src/Handlers/CommandHandler.cs
  src/tools/Flowly.Cli/src/Options/WorkflowRunCmdOptions.cs
  src/tools/Flowly.Cli/src/Program.cs
Due: .azure-pipelines/azure-pipelines-tools.yml

Starting to add initial README and fixed type conversion issue
  README.md
  src/libraries/Flowly.Core/src/Internal/TypeExtensions.cs
  src/libraries/Flowly.Core/src/Logging/NullLoggerSource.cs
Due: .azure-pipelines/azure-pipelines.yml

Added more verbose logging and removed trim publishing which was breaking extension loading
  src/libraries/Flowly.Core/src/WorkflowRunner.cs
  src/libraries/Flowly.Core/src/WorkflowStep.cs
  src/libraries/Flowly.Extensions.NuGet/src/NuGetExtensionProvider.cs
  src/tools/Flowly.Cli/src/Flowly.Cli.csproj
  src/tools/Flowly.Cli/src/Properties/launchSettings.json
Due: .azure-pipelines/azure-pipelines-tools.yml, .azure-pipelines/azure-pipelines.yml
